[mysqld]
innodb_thread_concurrency = 5
innodb_buffer_pool_size = 2G
innodb_log_file_size = 512M
innodb_log_buffer_size = 256M
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = O_DIRECT
innodb_write_io_threads = 16
key_buffer_size = 50M
long_query_time=1
max_allowed_packet = 256M
myisam_sort_buffer_size = 8M
net_buffer_length = 8K
query_cache_size = 512M
query_cache_limit = 16M
query_cache_type = 1
read_buffer_size = 256K
read_rnd_buffer_size = 512K
sort_buffer_size = 512K
table_cache = 8192
table_definition_cache = 8192
table_open_cache = 8192
thread_cache_size = 5
